<div class="container">
  <div>
  <app-text-field
    [disabled]="false"
    [(value)]="this.credentials.username"
    [label]="'Login'"
    (keyup.enter)="loginUser()">
  </app-text-field>

  <app-text-field
    [disabled]="false"
    [(value)]="this.credentials.password"
    [type]="'password'"
    [label]="'Password'"
    (keyup.enter)="loginUser()">
  </app-text-field>

  <button id="submit" (click)="loginUser()">Submit</button>
    <button routerLink="/reg">Registration</button>
  </div>
</div>
<div *ngIf="error" class="alert">
  Invalid password or login
</div>
