<div class="form-group">




  <div class="globals">
  <label for="title">Template</label>
  <select name="cargo_name" class="form-control" id="Head">
    <option *ngFor="let pow of title" [value]="pow">{{pow}}</option>
  </select>

  <select class="form-control" id="fields" required>
    <option *ngFor="let pow of fields" [value]="pow">{{pow}}</option>
  </select>

  <select class="form-control" id="interval" required>
    <option *ngFor="let pow of interval" [value]="pow">{{pow}}</option>
  </select>

  <div *ngFor="let item of temp1">
    <input type="checkbox">{{item}}
  </div>
  </div>


  <label for="Title">Title Page</label>
  <div class="Header2" id="Title">

    <select class="form-control" id="alignment_title" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <label for="Name">Name</label>
    <div class="Name" id="Name">
      <select class="form-control" id="font_name" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select class="form-control" id="fonsize_name" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input type="checkbox">{{item}}
      </div>

      <label for="name2.1">Text colour</label>
      <input id="name2.1" type="color">

      <label for="name2.2">Text highlight colour</label>
      <input id="name2.2" type="color">
    </div>


    <label for="Organization">Organization</label>
    <div class="Organization" id="Organization">
      <select class="form-control" id="font_Organization" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select class="form-control" id="fonsize_Organization" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input type="checkbox">{{item}}
      </div>

      <label for="Organization2.1">Text colour</label>
      <input id="Organization2.1" type="color">

      <label for="Organization2.2">Text highlight colour</label>
      <input id="Organization2.2" type="color">
    </div>


    <label for="Description">Description</label>
    <div class="Description" id="Description">
      <select class="form-control" id="font_Description" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select class="form-control" id="fonsize_Description" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input type="checkbox">{{item}}
      </div>

      <label for="Description2.1">Text colour</label>
      <input id="Description2.1" type="color">

      <label for="Description2.2">Text highlight colour</label>
      <input id="Description2.2" type="color">
    </div>


    <label for="Type">Type</label>
    <div class="Type" id="Type">
      <select class="form-control" id="font_Type" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select class="form-control" id="fonsize_Type" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <select class="form-control" id="alignment_Type" required>
        <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input type="checkbox">{{item}}
      </div>

      <label for="Type2.1">Text colour</label>
      <input id="Type2.1" type="color">

      <label for="Type2.2">Text highlight colour</label>
      <input id="Type2.2" type="color">
    </div>

  </div>

  <label for="Hd1">Header 1</label>
  <div class="Header1" id="Hd1">
    <select class="form-control" id="font1" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="fonsize1" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

  <select class="form-control" id="alignment1" required>
    <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
  </select>

  <div *ngFor="let item of temp2">
    <input type="checkbox">{{item}}
  </div>

    <label for="c1.1">Text colour</label>
  <input id="c1.1" type="color">

    <label for="c1.2">Text highlight colour</label>
    <input id="c1.2" type="color">
  </div>


  <label for="Hd2">Header 2</label>
  <div class="Header2" id="Hd2">
    <select class="form-control" id="font2" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="fonsize2" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="alignment2" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input type="checkbox">{{item}}
    </div>

    <label for="c2.1">Text colour</label>
    <input id="c2.1" type="color">

    <label for="c2.2">Text highlight colour</label>
    <input id="c2.2" type="color">
  </div>


  <label for="Hd3">Header 3</label>
  <div class="Header3" id="Hd3">
    <select class="form-control" id="font3" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="fonsize3" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="alignment3" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input type="checkbox">{{item}}
    </div>

    <label for="c3.1">Text colour</label>
    <input id="c3.1" type="color">

    <label for="c3.2">Text highlight colour</label>
    <input id="c3.2" type="color">
  </div>


  <label for="Hd4">Header 4</label>
  <div class="Header4" id="Hd4">
    <select class="form-control" id="font4" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="fonsize4" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="alignment4" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input type="checkbox">{{item}}
    </div>

    <label for="c4.1">Text colour</label>
    <input id="c4.1" type="color">

    <label for="c4.2">Text highlight colour</label>
    <input id="c4.2" type="color">
  </div>


  <label for="Hd5">Header 5</label>
  <div class="Header5" id="Hd5">
    <select class="form-control" id="font5" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="fonsize5" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="alignment5" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input type="checkbox">{{item}}
    </div>

    <label for="c5.1">Text colour</label>
    <input id="c5.1" type="color">

    <label for="c5.2">Text highlight colour</label>
    <input id="c5.2" type="color">
  </div>


  <label for="Table">Table</label>
  <div class="Table" id="Table">
    <select class="form-control" id="font_Table" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select class="form-control" id="fonsize_Table" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input type="checkbox">{{item}}
    </div>

    <label for="Table5.1">Heading cell text colour</label>
    <input id="Table5.1" type="color">

    <label for="Table5.2">Heading cell colour</label>
    <input id="Table5.2" type="color">

    <label for="Table5.3">Cell border colour</label>
    <input id="Table5.3" type="color">

    <label for="Table5.4">Common cell colour</label>
    <input id="Table5.4" type="color">


  </div>

  <div class="container">
    <div>
      <app-text-field
        [disabled]="false"
        [(value)]="this.templateId"
        [label]="'templateId'"
        (keyup.enter)="getTemplate()">
      </app-text-field>
    </div>
  </div>


  <button id="submit1" (click)="onSubmit()">Submit</button>
  <p></p>
  <button id="submit2" (click)="getTemplate()">Get templates</button>
  <p></p>
  <button id="submit3" (click)="getGroupUsers()">Get group users</button>
  <p></p>

  <div class="container">
    <div>
      <app-text-field
        [disabled]="false"
        [(value)]="this.usernameToAdd"
        [label]="'username To Add'"
        (keyup.enter)="addUserToGroup()">
      </app-text-field>
    </div>
  </div>
  <button id="submit4" (click)="addUserToGroup()">Add user to group</button>
  <p></p>

  <div class="container">
    <div>
      <app-text-field
        [disabled]="false"
        [(value)]="this.usernameToDelete"
        [label]="'username To Delete'"
        (keyup.enter)="deleteUserFromGroup()">
      </app-text-field>
    </div>
  </div>
  <button id="submit4" (click)="deleteUserFromGroup()">Delete user from group</button>

</div>

