<body>
<app-drop-zone [files] = "files" [mode]="'download'"></app-drop-zone>
<p></p>
<button id="extractStyle" (click)="extractStyle()">Extract style</button>
<p></p>
<button id="uploadStyle" (click)="uploadStyle()">Upload style</button>
<div class="form-group">




  <div class="globals">
  <label for="title">Template</label>
  <select [(ngModel)]="template.header"  (change)="onChange($event)" name="cargo_name" class="form-control" id="Head" >
    <option *ngFor="let pow of title" [value]="pow">{{pow}}</option>
  </select>

  <select [(ngModel)]="template.fields" class="form-control" id="fields" required>
    <option *ngFor="let pow of fields" [value]="pow">{{pow}}</option>
  </select>

  <select [(ngModel)]="template.interval" class="form-control" id="interval" required>
    <option *ngFor="let pow of interval" [value]="pow">{{pow}}</option>
  </select>

    <label>Name: {{template.name}}
    <app-text-field
      [disabled]="false"
      [(value)]="this.template.name">
    </app-text-field>
    </label><br>

    <label>Title page :
      <input type="checkbox"
             name="Title page"
             Change
             (change)="template.title_page = $event.target.checked ? '1': '0'"
             [checked]="template.title_page == '1'"
      >
      <div>title page = {{template.title_page}} </div>
    </label>
    <br>
    <label>Numeration:
      <input type="checkbox"
             name="Numeration"
             (change)="template.numeration = $event.target.checked ? '1': '0'"
             [checked]="template.numeration == '1'"
      >
      <div>numeration = {{template.numeration}} </div>
    </label>
    <br>
    <label>Footer:
      <input type="checkbox"
             name="Footer"
             (change)="template.footer = $event.target.checked ? '1': '0'"
             [checked]="template.footer == '1'"
      >
      <div>Footer = {{template.footer}}</div>
    </label>
    <br>
    <label>Header:
      <input type="checkbox"
             name="Header"
             (change)="template.header = $event.target.checked ? '1': '0'"
             [checked]="template.header == '1'"
      >
      <div>header = {{template.header}}</div>
    </label>

  <!--<div *ngFor="let item of temp1">
    <input [(ngModel)]="template.global_temp1" type="checkbox">{{item}}
  </div>-->
  </div>



  <div class="TitleP" id="Title" *ngIf="selectedType == 'Title Page'">

    <select required [(ngModel)]="template.title_alignment" class="form-control" id="alignment_title" ngModel required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <label for="Name">Name</label>
    <div class="Name" id="Name">
      <select [(ngModel)]="template.title_name_font" class="form-control" id="font_name" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_name_font_size" class="form-control" id="fonsize_name" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <!--<div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_name_temp2" type="checkbox">{{item}}
      </div>-->
      <label>Bold:
        <input type="checkbox"
               name="Bold n"
               (change)="template.title_name_bold = $event.target.checked ? '1': '0'"
               [checked]="template.title_name_bold == '1'"
        >
        <div>Bold = {{template.title_name_bold}}</div>
      </label>
      <br>
      <label>Italic:
        <input type="checkbox"
               name="Italic n"
               (change)="template.title_name_italic = $event.target.checked ? '1': '0'"
               [checked]="template.title_name_italic == '1'"
        >
        <div>Italic = {{template.title_name_italic}}</div>
      </label>
      <br>
      <label>Underline:
        <input type="checkbox"
               name="Underline n"
               (change)="template.title_name_underline = $event.target.checked ? '1': '0'"
               [checked]="template.title_name_underline == '1'"
        >
        <div>Underline = {{template.title_name_underline}}</div>
      </label>
      <br>
      <label for="name2.1">Text colour</label>
      <input [(ngModel)]="template.title_name_text_color" id="name2.1" type="color">

      <label for="name2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_name_text_highlight_color" id="name2.2" type="color">
    </div>


    <label for="Organization">Organization</label>
    <div class="Organization" id="Organization">
      <select [(ngModel)]="template.title_organization_font" class="form-control" id="font_Organization" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_organization_font_size" class="form-control" id="fonsize_Organization" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <!--<div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_organization_temp2" type="checkbox">{{item}}
      </div>-->

      <label>Bold:
        <input type="checkbox"
               name="Bold"
               (change)="template.title_organization_bold = $event.target.checked ? '1': '0'"
               [checked]="template.title_organization_bold == '1'"
        >
        <div>Bold = {{template.title_organization_bold}}</div>
      </label>
      <br>
      <label>Italic:
        <input type="checkbox"
               name="Italic"
               (change)="template.title_organization_italic = $event.target.checked ? '1': '0'"
               [checked]="template.title_organization_italic == '1'"
        >
        <div>Italic = {{template.title_organization_italic}}</div>
      </label>
      <br>
      <label>Underline:
        <input type="checkbox"
               name="Underline"
               (change)="template.title_organization_underline = $event.target.checked ? '1': '0'"
               [checked]="template.title_organization_underline == '1'"
        >
        <div>Underline = {{template.title_organization_underline}}</div>
      </label>
      <br>

      <label for="Organization2.1">Text colour</label>
      <input [(ngModel)]="template.title_organization_text_color" id="Organization2.1" type="color">

      <label for="Organization2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_organization_text_highlight_color" id="Organization2.2" type="color">
    </div>


    <label for="Description">Description</label>
    <div class="Description" id="Description">
      <select [(ngModel)]="template.title_description_font" class="form-control" id="font_Description" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_description_font_size" class="form-control" id="fonsize_Description" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <!--<div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_description_temp2" type="checkbox">{{item}}
      </div>-->

      <label>Bold:
        <input type="checkbox"
               name="Bold"
               (change)="template.title_description_bold = $event.target.checked ? '1': '0'"
               [checked]="template.title_description_bold == '1'"
        >
        <div>Bold = {{template.title_description_bold}}</div>
      </label>
      <br>
      <label>Italic:
        <input type="checkbox"
               name="Italic"
               (change)="template.title_description_italic = $event.target.checked ? '1': '0'"
               [checked]="template.title_description_italic == '1'"
        >
        <div>Italic = {{template.title_description_italic}}</div>
      </label>
      <br>
      <label>Underline:
        <input type="checkbox"
               name="Underline"
               (change)="template.title_description_underline = $event.target.checked ? '1': '0'"
               [checked]="template.title_description_underline == '1'"
        >
        <div>Underline = {{template.title_description_underline}}</div>
      </label>
      <br>

      <label for="Description2.1">Text colour</label>
      <input [(ngModel)]="template.title_description_text_color" id="Description2.1" type="color">

      <label for="Description2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_description_text_highlight_color" id="Description2.2" type="color">
    </div>


    <label for="Type">Type</label>
    <div class="Type" id="Type">
      <select [(ngModel)]="template.title_type_font" class="form-control" id="font_Type" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_type_font_size" class="form-control" id="fonsize_Type" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_alignment" class="form-control" id="alignment_Type" required>
        <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
      </select>

      <!--<div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_type_temp2" type="checkbox">{{item}}
      </div>-->

      <label>Bold:
        <input type="checkbox"
               name="Bold"
               (change)="template.title_type_bold = $event.target.checked ? '1': '0'"
               [checked]="template.title_type_bold == '1'"
        >
        <div>Bold = {{template.title_type_bold}}</div>
      </label>
      <br>
      <label>Italic:
        <input type="checkbox"
               name="Italic"
               (change)="template.title_type_italic = $event.target.checked ? '1': '0'"
               [checked]="template.title_type_italic == '1'"
        >
        <div>Italic = {{template.title_type_italic}}</div>
      </label>
      <br>
      <label>Underline:
        <input type="checkbox"
               name="Underline"
               (change)="template.title_type_underline = $event.target.checked ? '1': '0'"
               [checked]="template.title_type_underline == '1'"
        >
        <div>Underline = {{template.title_type_underline}}</div>
      </label>
      <br>

      <label for="Type2.1">Text colour</label>
      <input [(ngModel)]="template.title_type_text_color" id="Type2.1" type="color">

      <label for="Type2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_type_text_highlight_color" id="Type2.2" type="color">
    </div>

  </div>


  <div class="Header1" id="Hd1" *ngIf="selectedType == 'Header 1'">
    <select [(ngModel)]="template.h1_font" class="form-control" id="font1" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h1_font_size" class="form-control" id="fonsize1" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

  <select [(ngModel)]="template.h1_alignment" class="form-control" id="alignment1" required>
    <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
  </select>

  <!--<div *ngFor="let item of temp2">
    <input [(ngModel)]="template.h1_temp2" type="checkbox">{{item}}
  </div>-->

    <label>Bold:
      <input type="checkbox"
             name="Bold"
             (change)="template.h1_bold = $event.target.checked ? '1': '0'"
             [checked]="template.h1_bold == '1'"
      >
      <div>Bold = {{template.h1_bold}}</div>
    </label>
    <br>
    <label>Italic:
      <input type="checkbox"
             name="Italic"
             (change)="template.h1_italic = $event.target.checked ? '1': '0'"
             [checked]="template.h1_italic == '1'"
      >
      <div>Italic = {{template.h1_italic}}</div>
    </label>
    <br>
    <label>Underline:
      <input type="checkbox"
             name="Underline"
             (change)="template.h1_underline = $event.target.checked ? '1': '0'"
             [checked]="template.h1_underline == '1'"
      >
      <div>Underline = {{template.h1_underline}}</div>
    </label>
    <br>

    <label for="c1.1">Text colour</label>
  <input [(ngModel)]="template.h1_text_color" id="c1.1" type="color">

    <label for="c1.2">Text highlight colour</label>
    <input [(ngModel)]="template.h1_text_highlight_color" id="c1.2" type="color">
  </div>



  <div class="Header2" id="Hd2" *ngIf="selectedType == 'Header 2'">
    <select [(ngModel)]="template.h2_font" class="form-control" id="font2" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h2_font_size" class="form-control" id="fonsize2" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h2_alignment" class="form-control" id="alignment2" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <!--<div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h2_temp2" type="checkbox">{{item}}
    </div>-->

    <label>Bold:
      <input type="checkbox"
             name="Bold"
             (change)="template.h2_bold = $event.target.checked ? '1': '0'"
             [checked]="template.h2_bold == '1'"
      >
      <div>Bold = {{template.h2_bold}}</div>
    </label>
    <br>
    <label>Italic:
      <input type="checkbox"
             name="Italic"
             (change)="template.h2_italic = $event.target.checked ? '1': '0'"
             [checked]="template.h2_italic == '1'"
      >
      <div>Italic = {{template.h2_italic}}</div>
    </label>
    <br>
    <label>Underline:
      <input type="checkbox"
             name="Underline"
             (change)="template.h2_underline = $event.target.checked ? '1': '0'"
             [checked]="template.h2_underline == '1'"
      >
      <div>Underline = {{template.h2_underline}}</div>
    </label>
    <br>

    <label for="c2.1">Text colour</label>
    <input [(ngModel)]="template.h2_text_color" id="c2.1" type="color">

    <label for="c2.2">Text highlight colour</label>
    <input [(ngModel)]="template.h2_text_highlight_color" id="c2.2" type="color">
  </div>



  <div class="Header3" id="Hd3" *ngIf="selectedType == 'Header 3'">
    <select [(ngModel)]="template.h3_font" class="form-control" id="font3" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h3_font_size" class="form-control" id="fonsize3" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h3_alignment" class="form-control" id="alignment3" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <!--<div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h3_temp2" type="checkbox">{{item}}
    </div>-->

    <label>Bold:
      <input type="checkbox"
             name="Bold"
             (change)="template.h3_bold = $event.target.checked ? '1': '0'"
             [checked]="template.h3_bold == '1'"
      >
      <div>Bold = {{template.h3_bold}}</div>
    </label>
    <br>
    <label>Italic:
      <input type="checkbox"
             name="Italic"
             (change)="template.h3_italic = $event.target.checked ? '1': '0'"
             [checked]="template.h3_italic == '1'"
      >
      <div>Italic = {{template.h3_italic}}</div>
    </label>
    <br>
    <label>Underline:
      <input type="checkbox"
             name="Underline"
             (change)="template.h3_underline = $event.target.checked ? '1': '0'"
             [checked]="template.h3_underline == '1'"
      >
      <div>Underline = {{template.h3_underline}}</div>
    </label>
    <br>

    <label for="c3.1">Text colour</label>
    <input [(ngModel)]="template.h3_text_color" id="c3.1" type="color">

    <label for="c3.2">Text highlight colour</label>
    <input [(ngModel)]="template.h3_text_highlight_color" id="c3.2" type="color">
  </div>



  <div class="Header4" id="Hd4" *ngIf="selectedType == 'Header 4'">
    <select [(ngModel)]="template.h4_font" class="form-control" id="font4" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h4_font_size" class="form-control" id="fonsize4" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h4_alignment" class="form-control" id="alignment4" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <!--<div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h4_temp2" type="checkbox">{{item}}
    </div>-->

    <label>Bold:
      <input type="checkbox"
             name="Bold"
             (change)="template.h4_bold = $event.target.checked ? '1': '0'"
             [checked]="template.h4_bold == '1'"
      >
      <div>Bold = {{template.h4_bold}}</div>
    </label>
    <br>
    <label>Italic:
      <input type="checkbox"
             name="Italic"
             (change)="template.h4_italic = $event.target.checked ? '1': '0'"
             [checked]="template.h4_italic == '1'"
      >
      <div>Italic = {{template.h4_italic}}</div>
    </label>
    <br>
    <label>Underline:
      <input type="checkbox"
             name="Underline"
             (change)="template.h4_underline = $event.target.checked ? '1': '0'"
             [checked]="template.h4_underline == '1'"
      >
      <div>Underline = {{template.h4_underline}}</div>
    </label>
    <br>

    <label for="c4.1">Text colour</label>
    <input [(ngModel)]="template.h4_text_color" id="c4.1" type="color">

    <label for="c4.2">Text highlight colour</label>
    <input [(ngModel)]="template.h4_text_highlight_color" id="c4.2" type="color">
  </div>



  <div class="Header5" id="Hd5" *ngIf="selectedType == 'Header 5'">
    <select [(ngModel)]="template.h5_font" class="form-control" id="font5" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h5_font_size" class="form-control" id="fonsize5" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h5_alignment" class="form-control" id="alignment5" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <!--<div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h5_temp2" type="checkbox">{{item}}
    </div>-->

    <label>Bold:
      <input type="checkbox"
             name="Bold"
             (change)="template.h5_bold = $event.target.checked ? '1': '0'"
             [checked]="template.h5_bold == '1'"
      >
      <div>Bold = {{template.h5_bold}}</div>
    </label>
    <br>
    <label>Italic:
      <input type="checkbox"
             name="Italic"
             (change)="template.h5_italic = $event.target.checked ? '1': '0'"
             [checked]="template.h5_italic == '1'"
      >
      <div>Italic = {{template.h5_italic}}</div>
    </label>
    <br>
    <label>Underline:
      <input type="checkbox"
             name="Underline"
             (change)="template.h5_underline = $event.target.checked ? '1': '0'"
             [checked]="template.h5_underline == '1'"
      >
      <div>Underline = {{template.h5_underline}}</div>
    </label>
    <br>

    <label for="c5.1">Text colour</label>
    <input [(ngModel)]="template.h5_text_color" id="c5.1" type="color">

    <label for="c5.2">Text highlight colour</label>
    <input [(ngModel)]="template.h5_text_highlight_color" id="c5.2" type="color">
  </div>


  <label for="Table">Table</label>
  <div class="Table" id="Table">
    <select [(ngModel)]="template.table_font" class="form-control" id="font_Table" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.table_font_size" class="form-control" id="fonsize_Table" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <!--<div *ngFor="let item of temp2">
      <input [(ngModel)]="template.table_temp2" type="checkbox">{{item}}
    </div>-->

    <label>Bold:
      <input type="checkbox"
             name="Bold"
             (change)="template.table_bold = $event.target.checked ? '1': '0'"
             [checked]="template.table_bold == '1'"
      >
      <div>Bold = {{template.table_bold}}</div>
    </label>
    <br>
    <label>Italic:
      <input type="checkbox"
             name="Italic"
             (change)="template.table_italic = $event.target.checked ? '1': '0'"
             [checked]="template.table_italic == '1'"
      >
      <div>Italic = {{template.table_italic}}</div>
    </label>
    <br>

    <label for="Table5.1">Heading cell text colour</label>
    <input [(ngModel)]="template.table_heading_cell_text_color" id="Table5.1" type="color">

    <label for="Table5.2">Heading cell colour</label>
    <input [(ngModel)]="template.table_heading_cell_color" id="Table5.2" type="color">

    <label for="Table5.3">Cell border colour</label>
    <input [(ngModel)]="template.table_cell_border_color" id="Table5.3" type="color">

    <label for="Table5.4">Common cell colour</label>
    <input [(ngModel)]="template.table_common_cell_color" id="Table5.4" type="color">


  </div>

  <button id="submit0" (click)="onSubmit()">Save template on server</button>

  <p></p>


  <button (click)="toggle()" id="bt">
    {{buttonName}}
  </button>

  <ng-container *ngIf="show">
    <div style="margin: 0 auto;text-align: left;">
      <div>
        <div><input id="tbname" name="yourname" /></div>
      </div>
      <button id="submit1" (click)="download()">Save template as docx</button>

    </div>
  </ng-container>

  <p></p>
  <div class="container">
    <div>
      <app-text-field
        [disabled]="false"
        [(value)]="this.templateId"
        [label]="'template name'"
        (keyup.enter)="getTemplate()">
      </app-text-field>
    </div>
  </div>

  <button id="submit2" (click)="getTemplate()">Get template</button>
  <p></p>

  <div *ngIf="templates">
    <li *ngFor="let temp of templates">
      <span class="badge">{{temp}}</span>
    </li>
  </div>
</div>
</body>
