<div class="form-group">




  <div class="globals">
  <label for="title">Template</label>
  <select [(ngModel)]="template.header" name="cargo_name" class="form-control" id="Head">
    <option *ngFor="let pow of title" [value]="pow">{{pow}}</option>
  </select>

  <select [(ngModel)]="template.fields" class="form-control" id="fields" required>
    <option *ngFor="let pow of fields" [value]="pow">{{pow}}</option>
  </select>

  <select [(ngModel)]="template.interval" class="form-control" id="interval" required>
    <option *ngFor="let pow of interval" [value]="pow">{{pow}}</option>
  </select>

  <div *ngFor="let item of temp1">
    <input [(ngModel)]="template.global_temp1" type="checkbox">{{item}}
  </div>
  </div>


  <label for="Title">Title Page</label>
  <div class="TitleP" id="Title">

    <select required [(ngModel)]="template.title_alignment" class="form-control" id="alignment_title" ngModel required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <label for="Name">Name</label>
    <div class="Name" id="Name">
      <select [(ngModel)]="template.title_name_font" class="form-control" id="font_name" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_name_font_size" class="form-control" id="fonsize_name" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_name_temp2" type="checkbox">{{item}}
      </div>

      <label for="name2.1">Text colour</label>
      <input [(ngModel)]="template.title_name_text_color" id="name2.1" type="color">

      <label for="name2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_name_text_highlight_color" id="name2.2" type="color">
    </div>


    <label for="Organization">Organization</label>
    <div class="Organization" id="Organization">
      <select [(ngModel)]="template.title_organization_font" class="form-control" id="font_Organization" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_organization_font_size" class="form-control" id="fonsize_Organization" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_organization_temp2" type="checkbox">{{item}}
      </div>

      <label for="Organization2.1">Text colour</label>
      <input [(ngModel)]="template.title_organization_text_color" id="Organization2.1" type="color">

      <label for="Organization2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_organization_text_highlight_color" id="Organization2.2" type="color">
    </div>


    <label for="Description">Description</label>
    <div class="Description" id="Description">
      <select [(ngModel)]="template.title_description_font" class="form-control" id="font_Description" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_description_font_size" class="form-control" id="fonsize_Description" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_description_temp2" type="checkbox">{{item}}
      </div>

      <label for="Description2.1">Text colour</label>
      <input [(ngModel)]="template.title_description_text_color" id="Description2.1" type="color">

      <label for="Description2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_description_text_highlight_color" id="Description2.2" type="color">
    </div>


    <label for="Type">Type</label>
    <div class="Type" id="Type">
      <select [(ngModel)]="template.title_type_font" class="form-control" id="font_Type" required>
        <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_type_font_size" class="form-control" id="fonsize_Type" required>
        <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
      </select>

      <select [(ngModel)]="template.title_type_alignment" class="form-control" id="alignment_Type" required>
        <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
      </select>

      <div *ngFor="let item of temp2">
        <input [(ngModel)]="template.title_type_temp2" type="checkbox">{{item}}
      </div>

      <label for="Type2.1">Text colour</label>
      <input [(ngModel)]="template.title_type_text_color" id="Type2.1" type="color">

      <label for="Type2.2">Text highlight colour</label>
      <input [(ngModel)]="template.title_type_text_highlight_color" id="Type2.2" type="color">
    </div>

  </div>

  <label for="Hd1">Header 1</label>
  <div class="Header1" id="Hd1">
    <select [(ngModel)]="template.h1_font" class="form-control" id="font1" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h1_font_size" class="form-control" id="fonsize1" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

  <select [(ngModel)]="template.h1_alignment" class="form-control" id="alignment1" required>
    <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
  </select>

  <div *ngFor="let item of temp2">
    <input [(ngModel)]="template.h1_temp2" type="checkbox">{{item}}
  </div>

    <label for="c1.1">Text colour</label>
  <input [(ngModel)]="template.h1_text_color" id="c1.1" type="color">

    <label for="c1.2">Text highlight colour</label>
    <input [(ngModel)]="template.h1_text_highlight_color" id="c1.2" type="color">
  </div>


  <label for="Hd2">Header 2</label>
  <div class="Header2" id="Hd2">
    <select [(ngModel)]="template.h2_font" class="form-control" id="font2" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h2_font_size" class="form-control" id="fonsize2" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h2_alignment" class="form-control" id="alignment2" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h2_temp2" type="checkbox">{{item}}
    </div>

    <label for="c2.1">Text colour</label>
    <input [(ngModel)]="template.h2_text_color" id="c2.1" type="color">

    <label for="c2.2">Text highlight colour</label>
    <input [(ngModel)]="template.h2_text_highlight_color" id="c2.2" type="color">
  </div>


  <label for="Hd3">Header 3</label>
  <div class="Header3" id="Hd3">
    <select [(ngModel)]="template.h3_font" class="form-control" id="font3" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h3_font_size" class="form-control" id="fonsize3" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h3_alignment" class="form-control" id="alignment3" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h3_temp2" type="checkbox">{{item}}
    </div>

    <label for="c3.1">Text colour</label>
    <input [(ngModel)]="template.h3_text_color" id="c3.1" type="color">

    <label for="c3.2">Text highlight colour</label>
    <input [(ngModel)]="template.h3_text_highlight_color" id="c3.2" type="color">
  </div>


  <label for="Hd4">Header 4</label>
  <div class="Header4" id="Hd4">
    <select [(ngModel)]="template.h4_font" class="form-control" id="font4" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h4_font_size" class="form-control" id="fonsize4" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h4_alignment" class="form-control" id="alignment4" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h4_temp2" type="checkbox">{{item}}
    </div>

    <label for="c4.1">Text colour</label>
    <input [(ngModel)]="template.h4_text_color" id="c4.1" type="color">

    <label for="c4.2">Text highlight colour</label>
    <input [(ngModel)]="template.h4_text_highlight_color" id="c4.2" type="color">
  </div>


  <label for="Hd5">Header 5</label>
  <div class="Header5" id="Hd5">
    <select [(ngModel)]="template.h5_font" class="form-control" id="font5" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h5_font_size" class="form-control" id="fonsize5" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.h5_alignment" class="form-control" id="alignment5" required>
      <option *ngFor="let pow of alignment" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input [(ngModel)]="template.h5_temp2" type="checkbox">{{item}}
    </div>

    <label for="c5.1">Text colour</label>
    <input [(ngModel)]="template.h5_text_color" id="c5.1" type="color">

    <label for="c5.2">Text highlight colour</label>
    <input [(ngModel)]="template.h5_text_highlight_color" id="c5.2" type="color">
  </div>


  <label for="Table">Table</label>
  <div class="Table" id="Table">
    <select [(ngModel)]="template.table_font" class="form-control" id="font_Table" required>
      <option *ngFor="let pow of font" [value]="pow">{{pow}}</option>
    </select>

    <select [(ngModel)]="template.table_font_size" class="form-control" id="fonsize_Table" required>
      <option *ngFor="let pow of fonsize" [value]="pow">{{pow}}</option>
    </select>

    <div *ngFor="let item of temp2">
      <input [(ngModel)]="template.table_temp2" type="checkbox">{{item}}
    </div>

    <label for="Table5.1">Heading cell text colour</label>
    <input [(ngModel)]="template.table_heading_cell_text_color" id="Table5.1" type="color">

    <label for="Table5.2">Heading cell colour</label>
    <input [(ngModel)]="template.table_heading_cell_color" id="Table5.2" type="color">

    <label for="Table5.3">Cell border colour</label>
    <input [(ngModel)]="template.table_cell_border_color" id="Table5.3" type="color">

    <label for="Table5.4">Common cell colour</label>
    <input [(ngModel)]="template.table_common_cell_color" id="Table5.4" type="color">


  </div>

  <button id="submit0" (click)="onSubmit()">Submit</button>

  <p></p>

  <button id="submit1" (click)="download()">Download</button>

  <p></p>
  <div class="container">
    <div>
      <app-text-field
        [disabled]="false"
        [(value)]="this.templateId"
        [label]="'templateId'"
        (keyup.enter)="getTemplate()">
      </app-text-field>
    </div>
  </div>

  <button id="submit2" (click)="getTemplate()">Get template</button>
  <p></p>

  <button id="submit5" (click)="getTemplates()">Get templates</button>
  <p></p>

  <div *ngIf="templates">
    <li *ngFor="let temp of templates">
      <span class="badge">{{temp}}</span>
    </li>
  </div>
</div>

