<ngx-dropzone class="drop-zone" (change)="onSelect($event)">

  <ngx-dropzone-label class="drop-zone-label" >Drop it, baby!</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>

<button id="upload" (click)="upload()">Upload</button>
<button id="download" (click)="download()">Download</button>

<app-paragraphs [proposedHeadings] = "proposedHeadings" [unmatchedHeadings]="unmatchedHeadings"></app-paragraphs>

